*{
    margin:0;
    padding:0;
    background-color: beige;
}
.title{
    width:99.99%;
    height:50px;
    background-color:#F6AE14;
    padding:25px;
    font-weight:bold;
   font-size:30px; 
}
#heading{
    position:relative;
    left:500px;
    top:10px;
    display:block;
    font-size:25px;
}
#box{
    position:relative;
    top:20px;
    left:500px;
    width:300px;
    padding:15px 20px;
    background-color: aliceblue;
    font-size:20px;
}
ul {
    margin: 30px;
    font-size: 20px;
}
li{
    background-color: azure;
    margin:10px;
    cursor:pointer;
}

::-webkit-scrollbar{
display:none;
}